body {
    background: url('fundo. JPG');
}

a {
    font-family: Verdana;
    font-size: 14px;
    color: #00f;
}

a:visited {
    font-family: Verdana;
    font-size: 14px;
    color: #00f;
}

a:active {
    font-family: Verdana;
    font-size: 14px;
    color: #00f;
}

#geral {
    margin: 0 auto;
    width: 500px;
    background: #F8ECC6;
}

#top {
    border-top: 5px solid #ff0000;
}

#baixo {
    border-bottom: 5px solid #ff0000;
}

#centro {
    height: 150px;
    padding: 5px;
}

#copy {
    font-family: Verdana;
    font-size: 14px;
    padding: 5px;
}

#videoyoutube {
    font-family: Verdana;
    font-size: 14px;
    padding: 5px;
}

.exemplo {
    font-family: Verdana;
    font-size: 10px;
}